<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<div class="dropdown">
  {% if request.user.is_authenticated %}
  <span>Notifications for {{request.user.username}}</span>
  {% else %}
  <span>Notifications logged out</span>
  {% endif %} {% if request.user.is_authenticated != True%}
  <p id="counter">Login to see notification</p>
  {% else %}
  <p id="counter">{{notifications.count}}</p>
  <div class="dropdown-content">
    {% for i in notifications%}
    <p>{{i.text}}</p>
    {% endfor %}
  </div>
  {% endif %}
</div>
{{ request.user.username|json_script:"user_username" }}
<script>
  let user_username = JSON.parse(
    document.getElementById("user_username").textContent
  );
  let url = `ws://${window.location.host}/ws/notification/${user_username}/`;
  let notificationSocket = new WebSocket(url);
  let notificationBell = document.querySelector(".dropdown");
  notificationSocket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    console.log(data);
    let notificationDropdown = document.querySelector(".dropdown-content");
    let elm = `<p>${data.notification}</p>`;
    notificationDropdown.insertAdjacentHTML("afterbegin", elm);
    let count = document.querySelector("#counter");
    let newCount = parseInt(count.innerHTML) + 1;
    count.innerHTML = newCount;
  };
</script>
